X-*
__pycache__/
.venv/
.git/
.gitignore
Output_from_docker/
output_from_res/
*.tar
reminder_start.txt
Import_loc_for_resDict/
runLogs/
tmpZip/
pickleDB/
4coreStart.sh
8coreStart.sh
localTest.py
utah.txt
IPC/*.json
IPC/*.zip
IPC/resDictThreads/
swapperResDir/*.json
dict_batchQueue/*.json
samplerResDir/*
Plottest/
SamplesUSED/
SamplesUSED.zip
finderResDir/
Thomas_Project/
transformerInputDir/
Thomas_Projekt/
