__pycache__/

.venv
/X-*
Output_from_docker/
.git
*Zone.Identifier
output_from_res/
*.tar
reminder_start.txt
Import_loc_for_resDict/
data/distance_matrices/*.json
data/distance_matrices/
runLogs/
tmpZip/
pickleDB/
4coreStart.sh
8coreStart.sh
localTest.py
utah.txt
IPC/*.json
IPC/*.zip
IPC/resDictThreads/
swapperResDir/*.json
dict_batchQueue/*.json
samplerResDir/*
SamplesUSED/
Plottest/
data/runFiles/
samplerHelpDir/
SamplesUSED.zip
finderResDir/
transformerInputDir
transformerInputDir/
*.tar.xz
circuity_factor_dir/
scannerInputDir/
tester/*.csv
tester/allCsv/2col/*.csv
tester/allCsv/4col/*.csv
tester/allCsv/*.csv
tester/allCsv/2col/percentCase/*.csv
R_Project/**
!R_Project/
!R_Project/**/
!R_Project/**/*.R
!R_Project/**/*.py
R_Project/**/*.csv
R_Project/**/*.png
