__pycache__/
.venv
/X-*
Output_from_docker/
.git
*Zone.Identifier
output_from_res/
*.tar
reminder_start.txt
Import_loc_for_resDict/
data/distance_matrices/*.json
runLogs/
tmpZip/
pickleDB/
4coreStart.sh
8coreStart.sh
localTest.py
utah.txt
IPC/*.json
IPC/*.zip
IPC/resDictThreads/
swapperResDir/*.json
dict_batchQueue/*.json
samplerResDir/*
