
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Pyvrp_Home</title>
</head>
<body>
    <div class="grid-container">
    <div class="index-wrapper">
        <div class="title-wrapper">
        <div>Web-Server for Pyvrp solver!!</div>
</div>
    <button>
    <a href="/solver">Click here to configure the solver</a>
    </button>
    <div>
</div>
        <body>
</html>