<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solver Configurator</title>
</head>
<body>
    <div>Configure the Solver here!!</div>
    <form action="/solve" method="post">
        <label for="iterations">Number of Iterations: </label>
        <input type="number" id="iterations" name="iterations" required>
        <button type="submit">Start Solve</button>
    </form>
    <div id="back-to main"><button>
        <a href="/">Back to main</a>
    </button></div>
    
    
</body>
</html>